.header{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.headerImage{
  position: relative;
  left: 15%;
  width: 120%;
}
.headerArticle{
  text-align: center;
  width: 85%;
  margin: 1em auto 2em;
}.headerArticle h1{
  color: #35323e;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .4em;
}.headerArticle p{
  color: #9e9aa7;
  font-size: .9rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}.headerArticle button{
  border: none;
  outline: none;
  background-color: #2acfcf ;
  color: #fff;
  padding: .5em 0;
  border-radius: 20px;
  width: 60%;
  max-width: 155px;
}

@media(min-width: 670px){
  .header{
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 90%;
    margin-left: auto;
    max-width: 1160px;
    margin-top: 1.5em;
    align-items: center;
  }
  .headerArticle{
    text-align: left;
    max-width: 380px;
    margin-left: 0;
  }.headerArticle h1{
    font-size: 3rem;
    margin-bottom: .1em;
  }.headerArticle p{
    padding-right: 1em;
  }
  .headerImage{
    width: 100%;
    left: 10%;
    max-width: 600px;
  }
}