.formContainer{
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 45%, #bfbfbf6c 45%);
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: #3b3054;
  background-image: url('/bg-shorten-mobile.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 8px;
}.container div{
  margin-bottom: .5em;
}
.container input{
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: .5em 1em;
  margin-bottom: .2em; 
}.container input::placeholder{
  font-size: .9rem;
  color: #9e9aa7;
}
.container button{
  width: 100%;
  border: none;
  outline: none;
  background-color: #2acfcf ;
  color: #fff;
  padding: .5em 0;
  border-radius: 5px;
}
.errMessage{
  color: #f46262;
  font-size: .7rem;
}
.container .true{
  border-color: #f46262;
}