.formContainer{
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 45%, #EFF1F7 45%);
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: #3b3054;
  background-image: url('/bg-shorten-mobile.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 8px;
}.container div{
  margin-bottom: .5em;
}
.container input{
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: .5em 1em;
  margin-bottom: .2em; 
}.container input::placeholder{
  font-size: .9rem;
  color: #9e9aa7;
}
.container button{
  width: 100%;
  border: none;
  outline: none;
  background-color: #2acfcf ;
  color: #fff;
  padding: .5em 0;
  border-radius: 5px;
}
.errMessage{
  color: #f46262;
  font-size: .7rem;
}
.container .true{
  border-color: #f46262;
}
.loader{
  width: 40px;
  height: 40px;
  margin: 2em auto 0;
  border: 2px solid #3b3054;
  border-radius: 50%;
  border-left-color: #2acfcf;
  animation: rotate 1s linear 0s infinite forwards;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media(min-width: 670px){
  .container{
    display: flex;
    align-items: baseline;
    background-image: url('/bg-shorten-desktop.svg');
    background-size: cover;
    justify-content: space-between;
    padding: 1.5em 2em;
    max-width: 835px;
  }
  .container div{
    width: 70%;
    margin: 0;
  }.container button{
    width: 27%;
    padding: 0.7em 0;
  }.container input{
    margin: 0%;
  }
}