.container{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: hsl(257, 27%, 26%);
  background-image: url('/bg-shorten-mobile.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 8px;
}
.container input{
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: .5em 1em;
  margin-bottom: .5em;
}.container input::placeholder{
  font-size: .9rem;
  color: hsl(257, 7%, 63%);
}
.container button{
  width: 100%;
  border: none;
  outline: none;
  background-color: #2acfcf ;
  color: #fff;
  padding: .5em 0;
  border-radius: 5px;
}